*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #E2E8F0;
}
/* black-60: #0d1117
white-30: #E2E8F0
blue-10: #2E3A92 */
/* header */
.header, .footer{
    width: 100vw;
    height: 10vw;
    display:flex;
    gap: 5vw;
    justify-content: space-around;
    align-items: center;
    background-color: #0d1117;  
}
.header{
    border: 1px solid #E2E8F0;
    font-size: 3.5rem;
}
.logo{
    width: 10vw;
    height: 100%;
    background: url("images/logo_dark.jpg");
    background-size: cover;
}
.mainNav{
    width: 70%;
    height: 50%;
    font-size: 1.5rem;
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center; 
}
.mainNav a{
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s, border-bottom 0.3s; 
}
.mainNav a.active{
    border-bottom: 2px solid #2E3A92;
}
.mainNav a:hover{
    color: #2E3A92;
}

.footer{
    border-top: 1px solid #E2E8F0;
}

/* achievements */
.achievements{
    width: 100vw;
    height: 20vw;
    padding: 20px 90px;
    border-bottom: 1px solid #E2E8F0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.achievements a{
    font-weight: 600;
    font-size: 2rem;
}
.infoContainer{
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.innerInfoBlocks, .specialCard{
    background-color: #E2E8F0;
    color:#0d1117;
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 30px;
}
.infoContainer .specialCard{
    background-color: #0d1117;
    color:#E2E8F0;
}

/* text */
.accent{
    color:#2E3A92;
    font-size: 2.7rem;
}
.textBlack{
    color:#0d1117;
}
.textWhite{
    color:#E2E8F0;
}



/* space */

/* APOD */
.APODSection{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.APODSection > p{
    font-size: 4rem;
    font-weight: 800;
    color:#ced0d3;
    border: 1px solid #E2E8F0;
    background:rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Asteroids */
.asteroidSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 400px;
}
.asteroidSection > h2{
    background-image: url("https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000720/GSFC_20171208_Archive_e000720~orig.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.asteroidContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vw;
    width: 100vw;
    padding: 40px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.asteroidCard{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    border: 3px solid #2E3A92;
    background: #0d1117;
    color:#ced0d3;
    width: 25vw;
    height: 65vh;
    padding: 18px;
}
.asteroidCard > p{
    font-size: 1.4rem;
}
.asteroidCard > .accent{
    font-size: 1.8rem;
}
.hazardousAsteroid, .safeAsteroid{
    font-weight: 700;
    font-style: italic;
}
.hazardousAsteroid{
    color:#852b1b;
}
.safeAsteroid{
    color:#4a9b36;
}
.asteroidImage{
    width: 15vw;
    height: 12vw;
}

.asteroidPreview{
    width: 100%;
    font-size: 2rem;
    gap: 30px;
    background-color:#0d1117;
    border: 3px solid #2E3A92;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
.previewImage{
    width: 20vw;
    height: 15vw;
    border-radius: 20%;
}
.link{
    font-size: 2rem;
    align-self:flex-end;
    color:#ced0d3;
    position: absolute;
    right: 5%;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
}
.link:hover{
    color:#2E3A92;
}

.asteroidSortMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vw;
    border: 3px solid #2E3A92;
    background: #0d1117;
    font-size: 1.5rem;
    gap: 20px;
    padding: 30px;
}
.asteroidSortContainer{
    width: 100%;
    height: 14vw;
    display: flex;
    border: 1px solid #2E3A92;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.sortBlock, .sortContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sortContainer{
    font-size: 1.3rem;
    gap: 20px;
}
.confirmButton{
    cursor: pointer;
    width: 9vw;
    height: 6vw;
    border: 3px solid #2E3A92;
    background-color: #ced0d3;
    color:#0d1117;
    font-size: 1.7rem;
    padding: 5px;
    font-weight: 800;
    transition: color 0.3s, border-bottom 0.3s;
}
.confirmButton:hover{
    color: #2E3A92;
}

/* news */
.newsSection{
    width: 100%;
    height: auto;
}
.newsPreviewImg{
    width: 14vw;
    height: 12vw;
}
.newsPreviewCard{
    background: #0d1117;
    color: #ced0d3;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    gap: 30px;
    padding: 15px;
    border: 3px solid #2E3A92;
    cursor: pointer;
    transition: border 0.3s, border-bottom 0.3s;
}
.newsPreviewCard:hover{
    border: 3px solid #ced0d3;
}
.newsPreviewCard:hover .previewNewsText > h2{
    color:#2E3A92;
}
.previewNewsText > h2{
    font-size: 2rem;
    transition: color 0.3s, border-bottom 0.3s;
}
.previewNewsText{
    color: #ced0d3;
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}
.newsPreviewCardsContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsSortMenu > h2{
    color: #E2E8F0;
    font-size: 2.3rem;
}
.newsSortMenu{
    padding: 30px;
    width: 100%;
    height: auto;
    background: #0d1117;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.inputDateContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
}
.newsSortContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-size: 1.9rem;
}
.article{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    align-items: center;
    justify-content: center;
    background-color: #0d1117;
    border: 3px solid #2E3A92;
}
.newsArticleImg{
    width: 90%;
    height: 20%;
}
.articleNewsText > h2{
    font-size: 4rem;
}
.articleNewsText{
    font-size: 2rem;
}

/* about */
.infoSection{
    width: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: 3px solid #ced0d3;
}
.infoSectionHeader, .infoSectionText{
    background:rgba(0, 0, 0, 0.4);
    /* border: 1px solid #ced0d3; */
    padding: 20px;
}
.infoSectionHeader{
    color: #2E3A92;
    font-size: 3rem;
}
.infoSectionText{
    color:#ced0d3;
    font-size: 2rem;
}

/* Auth */
.submitButton{
    width: 6vw;
    height: 5vw;
}